---
import VantaBackground from "../components/vantabackground.astro"; // Asegúrate que la ruta sea correcta
---
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Vanta FOG</title>
    <link rel="stylesheet" href="/src/pages/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.fog.min.js"></script> 
</head>

<body>
  <VantaBackground />
	  <div id="footer">
	
        <p>Proyecto realizado en colaboración entre</p>
        <p>Universidad Bernardo O'Higgins y Hospital San Juan de Dios </p>
    
      <div class="contenedor-imagenes">
   
        <img src="/src/img/sjd.png" alt="Miniatura 1" class="img-pequena" />
        <img src="/src/img/ubo.png" alt="Miniatura 2" class="img-pequena" />
   
      </div>
  </div>
  
  </body>

  </html>