#footer {
    color: black;
    text-align: center;
    position: fixed;
  bottom: 0;
  left: 0;
  /* Opcional: añade márgenes o estilos adicionales */
  margin: 10px;
  padding: 10px;

}

 #footer p {
    line-height: 1.2; /* Sin unidades (relativo al tamaño de fuente) */
    line-height: 2px;
    text-decoration: solid;
  }
  .contenedor-imagenes {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente (opcional) */
    gap: 20px;                /* Espacio entre imágenes (ajusta a tu gusto) */     /* Solo para visualización (opcional) */            /* Espacio interno del contenedor */
    margin: 0 auto;           /* Centra el contenedor en su padre */
    width: fit-content;     /* Ancho ajustado al contenido */
  }
  
  .img-pequena {
    width: 150px;              /* Tamaño pequeño */
    object-fit: cover;        /* Evita deformaciones */
    border-radius: 4px;
}